<div id="Footer" class="footer">
    <p>
        Copyright &copy; 2020. <a href="https://wolfclans.com/" target="_blank">Wolf Clan </a>All rights reserved. Designed by
        <a href="https://www.behance.net/ahmedfateh" target="_blank">Fateh</a>
    </p>
</div>