
<!--Start Nav-bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="btnMenuLogo" class="navbar-brand d-flex align-items-baseline mr-5" href="javascript:;">
        <span class="navbar-brand-name d-flex align-items-baseline">O c c a l o</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="btnMenuHome" class="nav-link cursor-pointer" href="javascript:;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#features" data-value="features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about" data-value="about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact us</a>
            </li>
        </ul>
        <div class="online-users d-flex align-items-baseline">
            <span class="online-users-icon mr-2">
                <i class="fas fa-users success"></i>
            </span>
            <p id="txtOnlineUsers" class="title">Online users: <strong>0</strong></p>
        </div>
    </div>
</nav>
<!--End Navbar-->