@{
    ViewBag.Title = "Home Page";
}

<!--welcome -->
<div class="welcome d-flex align-items-center justify-content-center flex-column">
    <i class="far fa-comments wow bounceInDown"></i>
    <p class="welcome-logo wow zoomIn">O c c a l o</p>
    <p class="welcome-msg mb-4 wow slideInDown">Welcome to Occalo!</p>
    <p class="welcome-data mb-5 wow slideInDown">Occalo is an anonymous and random chat messaging for talking to strangers.</p>
    <button id="btnStart" class="chat-btn btn btn-success wow slideInUp">
        Let's Chat !
    </button>
</div>


<!--Start About Us-->
<div class="about-app">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="section-title about-app-title wow slideInDown">About Occalo</h3>
            <p class="about-app-data mb-4 wow zoomIn">Occalo is an anonymous and random chat App for talking and meeting strangers Chat with new people. Make Friends. Anonymously.</p>
            <p class="about-app-data mb-4 wow zoomIn">We really hope you enjoy our anonymous chat service and that it helps you to connect with great people from around the world.</p>
            <p class="about-app-data mb-4 wow zoomIn"> It’s crafted with love and maintained to ensure you have a safe and secure chat experience.</p>
            <p class="about-app-data mb-4 wow zoomIn">Chats are anonymous unless you tell someone who you are (not suggested!), and you can stop a chat at any tim.e</p>
        </div>
        <div class="d-none d-lg-block col-lg-6">
            <div class="about-app-img wow fadeIn">
                <img src="~/Images/about-app.png" />
            </div>

        </div>
    </div>


</div>
<!--End About Us-->
<!--Start features-->
<div class="features" id="features">
    <h3 class="section-title wow slideInDown">Occalo Features</h3>

    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="feature wow flipInX fast">
                <h4 class="feature-title">
                    <i class="fas fa-user-friends mr-2"></i>
                    Strangers Community
                </h4>
                <p class="feature-data">Occalo provides free random chat rooms where you can have live chat with stranger. You can meet new people in our international world chatrooms &. Occalo have a huge list of chatrooms which you can browse to find your best chatting partner.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="feature wow flipInX fast">
                <h4 class="feature-title">
                    <i class="fas fa-chart-line mr-2"></i>
                    Live your dream
                </h4>
                <p class="feature-data">Another aspect of internet that can be used positively or negatively is you can redefine yourself through it. You can be who you always wanted to be or the personality that you coveted to have, you can be all that and it can really have positive influence on your personality; researches have shown pretending for a long time can actually change you. But don’t forget the negative aspect of anonymity over the internet.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="feature wow flipInX fast">
                <h4 class="feature-title">
                    <i class="fas fa-comment-dollar mr-2"></i>
                    Always free
                </h4>
                <p class="feature-data">No Sign Up or Registration needed to Chat Online with stranger in Occalo. Occalo is free for everyone and always will be!  you don't have to reveal your identity during chats.</p>
            </div>
        </div>

    </div>
</div>
<!--End features-->
<!--Start What makes Occalo special? -->
<div class="occalo-special">
    <h3 class="section-title wow slideInDown">What makes Occalo special ?</h3>
    <p class="occalo-special-data wow zoomIn">We like to think that the community of people who use Occalo  make it the best place to connect online to chat and meet new people</p>
    <p class="occalo-special-data wow zoomIn">We do our  best to make sure that Occalo is the best space to connect with great people from around the world. It’s crafted with love and maintained to ensure you have a safe and secure chat experience.</p>
    <p class="occalo-special-data wow zoomIn">We like to think that the community of people that use Occalo  to chat anonymously online everyday treat each other with the same respect they would show to someone if they sat down and started talking in a café, bar or anywhere for that matter. So please make sure you that you treat people with respect and be friendly. That way you’ll make Strangermeetup a great chat experience for yourself and others.</p>
</div>
<!--End What makes Occalo special?-->
<!--Start About Us -->
<div class="about-us" id="about">
    <h3 class="section-title wow slideInDown">ِAbout Us</h3>
    <img src="~/Images/about-us.png" class="w-100" alt="Wolf clan logo" />
    <p class="about-us-data wow zoomIn"><span class="company-name">Wolf clan</span> is an Egyptian Start up software house that was established in 2020 and builds websites, mobile apps and information systems.</p>
    <p class="about-us-data wow zoomIn">We are driven by our vision of creating clever community of developers with enough skills to create projects that will be among the first competitors among the world</p>
    <p class="about-us-data wow zoomIn">Our target to make difference in the world ,our projects are funded from Egyptian business men and companies that believe our goals ,our Our way of managing things</p>
</div>
<!--End About Us-->
<!--Start Contact Us-->

<div class="contact" id="contact">

    <div class="contact-left-img d-none d-xl-block">
        <img src="/Images/contact-left.png" alt=""/>
    </div>
    <div class="contact-right-img d-none d-xl-block">
        <img src="/Images/contact-right.png" alt=""/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title wow slideInDown">Contact Us</h3>
                <form>
                    <div class="form-row wow slideInUp">
                        <div class="col-12 col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>

                        <div class="col-12 mb-3">
                            <textarea class="form-control" rows="4" placeholder="Your Message Here"></textarea>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-success w-100" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--End Contact Us-->




@Html.Partial("~/Views/Home/_footer.cshtml")


